<a href="https://colab.research.google.com/github/pmpatel-udallas/PChemLab/blob/main/Rotation_1_Treatment_of_Experimental_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rotation 1: Treatment of Experimental Data

## 0. Import Packages

In [10]:
import numpy as np

# Import plotting functions and customizing the font for plots
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams.update({'font.size': 16})
matplotlib.rcParams.update({'font.family': 'Arial'})
matplotlib.rcParams.update({'mathtext.fontset' : 'custom'})

# Import scipy packages for linear regression
# Using asterisks is a way to import everything
import scipy
from scipy import stats
from scipy.stats import *

# Import the pandas dataframe package for Excel-like analysis
import pandas as pd


# Insert a progress bar to show the progress of the script
# This is helpful for things that will take a while
!pip install tqdm
!jupyter nbextension enable --py widgetsnbextension
from tqdm.notebook import tqdm, tnrange, trange

Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (4.66.5)
Enabling notebook extension jupyter-js-widgets/extension...
Paths used for configuration of notebook:
    	/root/.jupyter/nbconfig/notebook.json
Paths used for configuration of notebook:

      - Validating: OK
Paths used for configuration of notebook:
    	/root/.jupyter/nbconfig/notebook.json

## 1. Analysis using DataFrames

Dataframes work in 2 dimensions where you can do operations on each column and/or on each row.

This is denoted by using the dataframe name (e.g., data1) and then the operation (mean, std, sum, etc.). In the parentheses part of the operation, there are two options.

```
axis=0 # Operations along the column
axis=1 # Operations along the row
```

See the below sections for an example of calculating the mean.

In [3]:
data1=pd.read_excel('PChem 1 Lab Data.xlsx',sheet_name='Pandas')
data1

,20,19,18,17,16,15,14,13,12,11,10
0,101.432,105.972,111.723,117.777,124.739,132.306,141.083,149.861,161.060,174.378,187.999
1,101.735,105.972,111.723,117.777,124.739,132.306,140.781,150.164,161.363,174.378,187.393
2,101.432,105.972,112.026,118.080,124.739,132.003,141.083,150.466,161.363,174.681,187.696
3,101.432,106.275,111.723,117.777,124.739,131.700,141.083,150.164,160.757,174.075,187.696
4,101.735,105.972,111.723,117.777,124.739,132.306,141.083,149.861,161.363,174.378,187.696
5,100.827,105.670,111.723,118.080,124.739,132.003,141.083,150.164,161.363,174.378,187.696
6,101.130,106.275,111.723,117.474,124.739,132.003,141.083,150.164,161.060,174.075,187.999
7,101.432,105.972,111.723,118.080,124.739,131.700,141.083,149.861,161.060,174.378,187.393
8,101.130,105.972,111.723,117.777,124.436,131.700,141.083,150.164,161.363,174.378,187.696
9,101.432,106.275,111.723,117.777,125.041,132.003,141.386,150.466,161.060,174.075,187.393
10,101.432,106.275,112.026,118.080,125.041,132.306,141.083,149.861,161.363,174.075,187.696
11,101.432,105.972,111.723,117.777,125.041,132.003,141.083,149.861,161.060,174.378,187.393
12,101.130,105.972,112.026,117.777,124.739,132.003,141.083,150.164,161.060,174.378,187.999
13,101.432,105.972,111.723,117.777,125.041,132.003,141.083,150.164,161.363,174.378,187.696
14,101.130,105.972,111.723,117.777,124.436,131.700,141.083,149.861,161.363,174.378,187.393
15,101.432,105.972,111.421,117.777,124.739,132.003,141.083,149.861,161.060,174.378,187.696
16,101.432,105.972,112.026,117.777,124.739,132.306,140.781,149.861,161.060,174.378,187.393
17,101.130,105.972,112.026,117.777,124.739,131.700,141.083,150.164,161.060,174.378,187.393
18,101.432,105.972,112.026,117.777,124.739,132.003,141.386,150.164,161.060,174.378,187.696
19,101.432,105.670,111.723,117.474,124.739,132.306,140.781,150.164,160.757,174.378,187.393
20,101.130,105.972,111.421,117.777,124.739,131.700,141.083,150.164,161.060,174.378,187.393
21,101.130,105.972,111.723,117.777,124.739,131.700,141.083,149.861,160.757,174.378,187.393
22,101.130,106.275,111.421,117.474,124.739,132.003,141.083,150.466,161.060,174.378,187.393
23,101.130,105.972,111.723,117.777,124.739,132.003,141.386,149.861,161.363,174.075,187.696
24,101.432,105.972,111.723,117.777,124.739,131.700,140.781,149.861,161.363,174.378,187.393
25,101.130,105.972,111.723,117.777,124.436,132.003,141.083,150.164,161.060,174.378,187.696
26,101.432,105.972,111.723,118.080,125.041,132.306,140.781,149.861,161.060,174.378,187.696
27,101.432,105.972,112.026,117.777,124.739,132.003,141.386,150.164,161.060,174.075,187.393
28,101.130,105.670,111.723,117.777,124.739,132.306,141.386,150.164,161.060,174.075,187.393
29,101.130,105.972,111.723,117.474,124.739,132.003,141.083,149.861,161.060,174.378,187.393
30,101.432,105.972,112.026,118.080,124.739,132.306,140.781,149.861,161.060,174.681,187.696
31,101.130,106.275,111.723,117.777,124.739,132.003,141.083,149.861,160.757,174.378,187.696
32,101.432,106.275,111.723,117.474,124.739,132.306,141.083,149.861,161.060,174.378,187.393
33,101.432,105.972,111.723,118.080,124.739,132.003,141.083,149.861,161.060,174.075,187.393
34,101.130,105.972,111.723,117.777,124.739,131.700,141.083,150.164,161.060,174.075,187.393
35,101.432,105.670,111.723,117.777,124.739,132.306,140.781,150.164,161.060,174.378,187.696
36,101.432,105.670,112.026,117.474,124.739,132.003,141.083,150.164,161.060,174.681,187.091
37,101.130,105.670,112.026,117.474,124.436,131.398,141.083,150.164,161.060,174.075,187.696
38,101.432,105.972,111.723,117.474,124.739,131.700,141.386,149.861,161.363,174.378,187.696
39,101.130,106.275,111.723,118.080,124.739,131.700,140.781,150.164,161.060,174.075,187.393
40,101.432,105.972,112.026,117.777,124.436,132.306,141.083,149.861,161.060,174.075,187.393
41,101.130,106.275,111.723,118.080,125.041,132.003,140.781,150.164,161.060,174.378,187.393
42,101.130,105.670,111.723,117.474,125.041,132.306,141.083,150.466,160.757,174.378,187.696
43,101.432,105.972,112.026,117.474,124.739,131.700,141.083,149.861,161.060,174.378,187.696
44,101.130,105.670,112.026,117.777,124.739,132.003,141.386,149.861,161.060,174.378,187.696
45,101.130,105.670,112.026,117.777,124.436,132.003,141.386,150.164,160.757,174.681,187.696
46,101.432,106.275,111.723,117.777,124.436,132.003,141.083,150.164,161.060,174.075,187.696
47,101.432,105.972,112.026,117.474,124.739,132.003,141.083,150.164,161.060,174.378,187.696
48,100.827,106.275,111.421,118.080,124.739,132.003,141.386,149.861,160.757,174.075,187.696
49,101.130,106.275,112.026,118.080,125.041,132.306,141.083,149.861,160.757,174.378,187.696
50,101.432,105.670,112.026,117.474,124.739,131.700,140.781,150.164,161.363,174.378,187.393

In [8]:
data1.mean(axis=0)

20    101.295804
19    105.984078
18    111.800314
17    117.771059
16    124.744784
15    131.997078
14    141.077255
13    150.051039
12    161.083765
11    174.318588
10    187.571255
dtype: float64

In [9]:
data1.mean(axis=1)

0     137.120909
1     137.121000
2     137.231000
3     137.038273
4     137.148455
5     137.066000
6     137.065909
7     137.038273
8     137.038364
9     137.148273
10    137.203455
11    137.065727
12    137.121000
13    137.148364
14    136.983273
15    137.038364
16    137.065909
17    137.038364
18    137.148455
19    136.983364
20    136.983364
21    136.955727
22    137.038364
23    137.065909
24    137.010818
25    137.038364
26    137.120909
27    137.093364
28    137.038455
29    136.983273
30    137.148545
31    137.038364
32    137.065818
33    137.038273
34    136.983273
35    137.066000
36    137.038455
37    136.928364
38    137.065818
39    137.010909
40    137.038273
41    137.093455
42    137.065818
43    137.038273
44    137.066000
45    137.066000
46    137.065818
47    137.093364
48    137.010909
49    137.148455
50    137.010909
dtype: float64

**Calculate the standard deviation of data1**

* Use the std function in the same way mean is used above
* Which axis (axis=0 or axis=1) will you calculate the standard deviation?


> Hint: You will need to include the ddof=1 option to have your standard deviation in Python match the numbers you get in Excel for the standard deviation of the sample. By default, the standard deviation calculated is that of the population.

#### 1.1 Mean and standard deviation

**Calculate the mean and standard deviation of one of your trials (for time). Each trial will be a separate DataFrame and require separate (but the same) code.**

In [12]:
# Import your data



# Calculate the mean



# Calculate the standard deviation

### 1.2 Linear Regression

Use the ``scipy.stats.linregress()`` function we used before to calculate the best fit line parameters

In [11]:
X1=np.array(data1.columns)
Y1=np.array(data1.mean(axis=0))
best_fit=scipy.stats.linregress(X1,Y1)
best_fit

LinregressResult(slope=-8.485982531194294, intercept=264.35292156862744, rvalue=-0.9868489530316712, pvalue=1.970326045568869e-08, stderr=0.46333252122745117, intercept_stderr=7.102753052749463)

In [ ]:
m=best_fit.slope
b=best_fit.intercept
me=best_fit.stderr
mb=best_fit.intercept_stderr
r2=best_fit.rvalue**2

### 1.3 t-test function

Define the two-tailed t-test function using the lambda function tool.

> Lambda functions define functions of multiple variables, but only output a single value

In [ ]:
# p = probability (5% or 0.05)
# df = degrees of freedom

tinv = lambda p, df: abs(t.ppf(p/2, df))

######
# Equivalent notation
#def tinv(p,df):
#    return abs(t.ppf(p/2,df))
######

ts2 = tinv(0.05, 50)
ts2

### 1.4 Errorbar plots

Use the ``plt.errorbar`` function to plot the best fit line with error bars. Find examples of how to use the syntax to help you create error bar plots.

In [ ]:
# Create a linear space for volume np.linspace(start, end, number of points)

# Use the slope and intercept to linearly transform x to y






# For axes labels, the $...$ notation helps with superscipt/subscript for axis labels
# $^$ is superscript while $_$ is subscript
# {} are needed if there is more than one character being superscript/subscript

plt.xlabel('V (cm$^3$)')
plt.ylabel('1/P (kPa$^{-1}$)')

## 2. Monte Carlo Sampling

Monte Carlo simulations use random sampling to obtain numerical results.

In PChem research, Monte Carlo sampling is often used to sample various thermodynamic ensembles of molecules in a gas or solvated environment to predict thermodynamic and kinetic properties. For example, kinetic Monte Carlo (kMC) can be used to facilitate the thermodynamic understanding of a reaction profile to numerically calculate kinetic profiles. Grand canonical Monte Carlo (GCMC) is a statistical mechanical model in which a rigorous molecular-level model of adsorption is solved exactly. GCMC is usually used to computationally study adsorption of small molecules into the pores of metal organic frameworks.

In this lab, we are using Monte Carlo techniques to predict the best fit lines of data points that lie within the error bounds obtained through measurement. In other words,
**how does the error affect the best fit lines and can Monte Carlo approximate the graphical error obtained through the extremes of the slope and intercept?**

### 2.1 A quick example

Predict the area of a circle by using the ratio of points that lie within a circle that is enclosed in a square.
For a distance r, since
$$A_{circle}=\pi r^2$$
$$A_{square} = 4r^2$$

Then,

$$ 4 * \dfrac{A_{circle}}{A_{square}} = 4 * \dfrac{\pi r^2}{4r^2} = \pi $$

Therefore, we can estimate $\pi$ using a Monte Carlo sampling of the ratio between the number of points that lie within a circle and within a square (unit distance)

In [ ]:
# Define the number of points in a circle and square
circle_points = 0
square_points = 0

# Define the intervals
INTERVAL=[1e2+1, 1e3+1, 1e4+1, 1e5+1, 1e6+1, 1e7+1, 2e7+1]

# Drawing the circle
Xspace = np.linspace(-1,1,20001)
Yspace = np.sqrt(1-Xspace**2)

# Run a loop over all possible values
for i in tnrange(len(INTERVAL)):
    #Generate the number of sampling points
    rand_x = np.random.uniform(-1,1,int(INTERVAL[i]))
    rand_y = np.random.uniform(-1,1,int(INTERVAL[i]))

    # Calculate the distance of (x,y) to origin
    origin_dist = rand_x**2 + rand_y**2

    # Checking if (x,y) lies within the circle using the np.where() function, which returns elements

    cond = np.where(origin_dist<=1)
    cond2= np.array(sorted(list(set(np.arange(INTERVAL[i],dtype=int))-set(cond[0]))))
    # Computing the number of points inside the circle
    circle_points = len(cond[0])

    #Computing the number of points inside the square (includes inside the circle) -- all the points
    square_points = INTERVAL[i]

    # Plot the circle points and square points
    fig = plt.figure(figsize=(5,5))
    plt.plot(rand_x[cond],rand_y[cond],'o',markersize=0.75,color='#1A3F70')
    plt.plot(rand_x[cond2],rand_y[cond2],'o',markersize=0.75,color='#D8B266')
    plt.plot(Xspace,Yspace,'k')
    plt.plot(Xspace,-Yspace,'k')
    plt.show()

    # Estimate pi from Monte Carlo simulations
    pi_est = 4 * circle_points/square_points
    print('Estimate of pi using '+str(int(INTERVAL[i]))+' points:','%0.6f'%pi_est)

### 2.2 Now you do it

Grab your data values and replace the green comments in the cell below with your values. Then run the cell below to run the Monte Carlo.

In [ ]:
DATA=#Import your dataset
DATAmean=#calculate the mean of your dataset
DATAstd=#calculate the 95% CI of the dataset (ts2*std)


**In your lab report, you will be responsible for interpreting the functionality of this code**

In [ ]:
# Run 10K best fit line data points – Monte Carlo
points=100000
stats=[]
data_pts=[]

# Generates the same random numbers for reproducibility using a random seed (any integer).
np.random.seed(10)

# Uses a progress bar to show how calculation is proceeding
with tqdm(total= points, desc='Calculating Best Fit Lines') as pbar:
    for i in range(points):

        # Sets the volume range for Monte Carlo
        X3=X1+np.random.normal(0,0.05,11)

        # Sets the randomly selected pressures from your data using a normal distribution
        Y3=np.array(DATAmean+np.random.normal(loc=0, scale=DATAstd/ts2, size=(11)))

        res1 = scipy.stats.linregress(X3, Y3) # Calculates the best fit line parameters
        ts1 = tinv(0.05, len(X3)-2) # Calculates the student-t value

        # Append all your data to a spreadsheet like document
        data_pts.append([X3,Y3])
        stats.append([res1.slope, ts1*res1.stderr, res1.intercept, ts1*res1.intercept_stderr])
        pbar.update(1) # Updates the progress bar

pd.DataFrame(stats).to_csv('MonteCarlo_v1.csv')

In [ ]:
stats=pd.read_csv('MonteCarlo_v1.csv',index_col=0)
MC_stats_df=pd.DataFrame(stats)
MC_stats_df.columns=['Slope','Slope Error','Intercept','Intercept Error']
MC_stats_df

In [ ]:
plt.plot(MC_stats_df['Slope'],MC_stats_df['Intercept'],'o',color='grey',alpha=0.1)
plt.plot(best_fit.slope, best_fit.intercept,'bo')
plt.ticklabel_format(axis='both', style='sci', scilimits=(-4,4))
plt.xlabel('Slopes (kPa$^{-1}$ cm$^{-3}$)')
plt.ylabel('Intercepts (kPa$^{-1}$)')
plt.show()